<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="home.css">
  <title>IBDB, Ratings, Reviews & The Best of Books</title>
</head>

<body>
  <section class="landing">
    <nav class="universal-margin navbar">
      <div class="nav-div-brand">
        <h1 class="nav-brand">IBDB</h1>
      </div>
      <div class="nav-div-button"><button class="nav-button"> <a href="http://localhost:4000/login">Sign In </a>
        </button></div>
    </nav>

    <div class="main-container">
      <div class="child-container">
        <h1>Ratings, Reviews & The Best of <br> Books & Mangas.</h1>
        <h3>Make Reading Lists Like Never Before.</h3>
        <h4>Join Discussin Groups or Create One.</h4>
      </div>

      <form class="main-container-form" action="#">
        <input class="main-container-form-input" type="email" name="email" placeholder="Email address">
        <button class="main-container-form-button">Get Started</button>
        <button type="submit" class="invisible">Submit</button>
      </form>
      <span class="error-message" style="display:none;"></span>
    </div>
  </section>

<script src='../bundle.js'></script>

</body>

</html>